body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e5e5e5;
    font-family: sans-serif;
}
* {
    margin: 0;
    box-sizing: border-box;
}
.winter {
    position: relative;
    max-width: 700px;
    box-shadow: 15px -15px 15px 3px rgba(0, 0, 0, 0.2);
    transition: .5s all ease;
}
.flexible-image{
    max-width: 100%;
}
.calendar {
    margin: 0 34px;
    position: absolute;
    top: -10px;
    color: #fff;
    width: 90%;
    height: 100%;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.6);
    background-color: rgba(218, 165, 32, 0.450);
    text-align: center;
    user-select: none;
    opacity: 0;
    transition: .5s;
}
.winter:hover {
    margin-top: -40px;
}
.winter:hover .calendar {
    opacity: 1;
}
.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgba(218, 165, 32, 0.450);
    padding: 40px 30px;
}
.weekends {
    display: flex;
    background-color: rgba(218, 165, 32, 0.900);
    padding: 7px 0;
}
.days {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    color: #000;
}
.days div {
    margin-bottom: 10px;
    padding: 15px 0;
    transition: all 0.4s;
}
.days div,
.weekends div {
    width: 14.28%;
    text-align: center;
}
.days div:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: #fff;
}
.today {
    background-color: rgb(218, 165, 32);
    color: #fff;
}
#month {
    font-size: 25px;
}
.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: all 0.4s;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.prev_month {
    color: #fff;
}

@media screen and (max-width: 705px) {
    .calendar {
        margin: 0 30px;
    }
}
@media screen and (max-width: 635px) {
    .calendar {
        margin: 0 26px;
    }
}
@media screen and (max-width: 550px) {
    .calendar {
        margin: 0 22px;
    }
}
@media screen and (max-width: 450px) {
    .calendar {
        margin: 0 18px;
    }
}
@media screen and (max-width: 380px) {
    .calendar {
        margin: 0 14px;
    }
}
@media screen and (max-width: 705px) {
    .month {
        padding: 25px 110px;
    }
}
@media screen and (max-width: 650px) {
    .month {
        padding: 18px 110px;
    }
}
@media screen and (max-width: 630px) {
    .days {
        padding: 0 0;
    }
}
@media screen and (max-width: 600px) {
    .days div {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 535px) {
    .days div {
        margin-bottom: 0;
        padding: 10px 0;
    }
}
@media screen and (max-width: 460px) {
    .month {
        padding: 10px 70px;
    }
}
@media screen and (max-width: 440px) {
    .month {
        padding: 10px 50px;
    }
}
@media screen and (max-width: 440px) {
    .days div {
        margin-bottom: 0;
        padding: 7px 0;
    }
}
@media screen and (max-width: 440px) {
    .month {
        padding: 4px 40px;
    }
}
@media screen and (max-width: 395px) {
    .prev, .next {
        font-size: 20px;
        height: 41px;
    }
}
@media screen and (max-width: 368px) {
    .weekends {
        padding: 0px 0;
    }
}
@media screen and (max-width: 348px) {
    .month {
        padding: 0px 30px;
    }
}
@media screen and (max-width: 335px) {
    .days div {
        margin-bottom: 0;
        padding: 6px 0;
    }
}
@media screen and (max-width: 320px) {
    .prev, .next {
        font-size: 20px;
        height: 35px;
        width: 40px;
    }
}